/*::: css reset code starts here :::*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    font-family: sans-serif;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.clearall {
    clear: both;
}


/*::: css reset code ends here :::*/


/*::: Header starts here :::*/

a {
    text-decoration: none;
}

.header__container {
    width: 1000px;
    height: 109px;
    margin: 0 auto;
}

.header {
    font-weight: 600;
    width: 100%;
    height: 109px;
    background: url(Images/hdr-bg.jpg);
    min-width: 1000px;
}

.primary-header__logo {
    margin-right: 20px;
    background: url(Images/remedy-logo.gif) no-repeat;
    width: 64px;
    height: 50px;
    border: 2px solid #3A3A3A;
}

.primary-header__message {
    padding: 15px 0 12px 0;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.primary-header__message span {
    font-size: 13px;
    margin: 0 4px;
}

.primary-header__tab li {
    list-style-type: none;
    float: left;
    padding: 15px 15px 18px 15px;
    font-size: 15px;
    box-shadow: inset 1px 1px #454545;
    border-left: 1px solid #3D3D3D;
    border-right: 1px solid #3D3D3D;
}

.primary-header__tab li a {
    text-decoration: none;
    color: #C5C5C5;
    padding: 15px 15px 18px 15px;
}

.primary-header__tab__active,
.primary-header__tab li:hover {
    background-color: #222629;
}

.primary-header__tab__active__a,
.primary-header__tab li a:hover {
    color: white !important;
    background: url(Images/arrow.png) center bottom no-repeat;
}

.secondary-header__tab {
    margin-top: 15px;
    color: #424242;
    cursor: pointer;
    font-size: 15px;
}

.secondary-header__tab li {
    list-style-type: none;
    float: left;
    padding: 10px 10px 16px 10px;
    border: 1px solid transparent;
}

.secondary-header__tab li:hover,
.secondary-header__tab__active {
    color: #0095C6;
    background-color: white;
    border: 1px solid #DDDDDD !important;
    border-bottom: none !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.secondary-header__link {
    background-color: #FDFDFD;
    border: 1px solid #D3D3D3;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 12px;
    color: #0096CA;
    border-radius: 2px;
    margin-top: 20px;
}


/*::: Header ends here :::*/


/*::: layout starts here :::*/

.layout-content {
    width: 1000px;
    margin: 0 auto;
    background-color: #F0F0F0;
    border: 1px solid #DBDBDB;
    border-top: none;
}

.layout__header {
    border-bottom: 1px solid #D3D3D3;
    background: white;
}

.layout__header__left {
    padding: 15px;
}

.layout__header h2 {
    color: #424242;
    font-weight: 400;
    margin-bottom: 10px;
}

.layout__header__logo {
    background: url(Images/bstro-logo.gif) no-repeat;
    width: 200px;
    height: 100px;
    background-size: contain;
}

input[type=search],
input[type=text],
.layout__section__dropdown {
    width: 550px;
    height: 35px;
    border: 1px solid #DFDFDF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #7A7A7A;
    padding: 5px 10px;
    font-size: 14px;
}

input[type=button] {
    border: 0;
    padding: 5px 25px;
    height: 35px;
    background-color: #615D58;
    color: white;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    vertical-align: top;
    cursor: pointer;
}

input[type=checkbox] {
    margin-top: 10px;
}

.layout__checkbox__text {
    margin: 9px 20px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    margin-top: 10px;
    color: #424242;
    font-weight: bold;
}

.text-align {
    display: inline-block;
    vertical-align: super;
    font-size: 13px;
    font-weight: 500;
}

.layout__table {
    margin-left: 85px;
}

.layout__section__list li {
    list-style-type: none;
    width: 300px;
    height: 30px;
    cursor: pointer;
    padding: 3px;
}

.image-margin {
    margin: 3px;
}

.layout__section__list li:hover,
.active {
    background-color: #0097C9;
    color: white;
    cursor: pointer;
}

.layout__section__list {
    border: 1px solid #F1F1F1;
    width: 100%;
    height: 120px;
    overflow: auto;
}

.layout__section__title {
    display: block;
    font-size: 11px;
    color: #424242;
    font-weight: bold;
}

.checkbox-value {
    font-size: 13px;
    color: #424242;
    font-weight: bold;
}

.layout__section {
    margin: 15px;
    padding: 15px 15px 25px 15px;
    border: 1px solid #D3D3D3;
    background-color: white;
    border-radius: 5px;
}

input[type=text],
.layout__section__dropdown {
    width: 290px;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    color: black;
}

.layout__section__dropdown {
    position: relative;
    cursor: pointer;
}

.layout__section__dropdown__menu {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0;
    margin-top: 2px;
    display: none;
    border: 1px solid #D3D3D3;
    background-color: white;
    z-index: 10;
    overflow-y: auto;
    max-height: 100px;
}

.layout__section__dropdown:before {
    content: '';
    height: 29px;
    display: block;
    position: absolute;
    top: 0;
    left: 85%;
    border-left: 1px solid #D3D3D3;
}

.layout__section__dropdown__arrow {
    float: right;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #8D8B8C;
    margin-top: 5px;
}

.layout__section__dropdown li {
    list-style-type: none;
    border-bottom: 1px solid #D3D3D3;
    padding: 5px 10px;
}

.layout__section__dropdown:hover .layout__section__dropdown__menu {
    display: block;
}

.block {
    display: inline-block;
    color: white;
    height: 30px;
    width: 70px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 5px 25px;
}

.block__green {
    background-color: #00D26A;
    border: 1px solid #00B058;
}

.block__orange {
    background-color: #FFB044;
    border: 1px solid #FF983A;
}

.block__red {
    background-color: #FF3E4B;
    border: 1px solid #FB3541;
}

.dropdown__left {
    float: left;
    margin-right: 22px;
}

.layout__section__location {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.layout__section__department {
    margin: 0 15px;
    border-radius: 0;
    border-top: 0;
}

.layout__section__duration {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.layout__section__duration input[type=button] {
    width: 305px;
    color: white;
    background-color: #615D58;
    border-radius: 4px;
    height: 35px;
    margin-top: 10px;
}

input[type=date] {
    margin: 10px 20px 0 0;
    width: 290px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #D3D3D3;
}

.layout__section__duration__start:before,
.layout__section__duration__end:before {
    content: "START";
    border-right: 1px solid #D3D3D3;
    border-radius: 4px;
    background-color: #F9F9F9;
    font-size: 14px;
    padding: 7px 10px;
    color: #414141;
}

.layout__section__duration__end:before {
    content: "END";
}

.layout__section__page-no {
    margin: 30px 10px 10px 10px;
}

ul.page-selection li {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

ul.page-selection li a {
    padding: 4px 7px;
    text-decoration: none;
    font-size: 12px;
    color: #6C6F6C;
}

ul.page-selection li a.active {
    background-color: #0097C9;
    color: white;
    border-radius: 5px;
}

.box {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    margin: 0 7px;
    padding: 2px 0 !important;
}

.l-arrow {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    transform: rotate(135deg);
    width: 7px;
    height: 7px;
    margin: 3px 0 0 3px;
    vertical-align: 2px;
}

.right-arrow {
    transform: rotate(-45deg);
    margin: 0;
}

.arrow-box {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 1px 10px !important;
    width: 32px;
    height: 23px;
    margin-right: 5px;
}

.layout__section__number {
    margin-left: 150px;
    color: #434343;
    font-size: 14px;
}

.layout__section__number-dropdown {
    display: inline-block;
    position: relative;
    border: 1px solid #A8A8A8;
    background-color: white;
    width: 40px;
    height: 20px;
    padding: 2px;
}

.layout__section__number-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0;
    margin-top: 2px;
    border: 1px solid #D3D3D3;
    background-color: white;
    z-index: 10;
    overflow-y: auto;
    height: 100px;
}

.layout__section__number-dropdown:hover .layout__section__number-menu {
    display: block;
}

.drop-arrow {
    float: right;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid black;
    margin: 3px 2px 0 0;
}

table {
    border-collapse: collapse;
    background-color: white;
    table-layout: fixed;
}

table .table__header {
    text-align: left;
    background: url(Images/th-bg.png);
    height: 26px;
    font-size: 11px;
    border-top: 1px solid #D4D4D4;
}

.table__header__th {
    padding-left: 10px;
}

table tr td {
    font-size: 12px;
}

.task-icon {
    margin: 3px 10px 3px 10px;
}

.text-alignment {
    display: inline-block;
    vertical-align: 10px;
    font-weight: 600;
}

.table-data {
    border-bottom: 1px solid #D3D3D3;
}


/*::: layout ends here :::*/


/*::: footer starts here :::*/

.footer {
    margin: 0 auto;
    width: 1000px;
    padding: 10px 0;
    font-size: 12px;
    color: #727272;
    font-weight: 600;
}


/*::: footer ends here :::*/