/*::: css reset code starts here :::*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #D9E6ED;
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*::: css reset code ends here :::*/


/*::: css header starts here :::*/

.header {
    position: fixed;
    background-color: grey;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}


/*::: css header ends here :::*/


/*::: css section starts here :::*/

.section {
    position: absolute;
    background-color: white;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
}

.main-section__list {
    float: left;
    border: 3px solid blue;
    display: block;
    width: 25%;
    height: 100%;
}

.main-section-nav__list {
    margin: 150px 70px;
}

.main-section-nav__list a {
    text-decoration: none;
}

.main-section__content {
    float: left;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    border: 3px solid blue;
}


/*::: css section ends here :::*/


/*::: css footer starts here :::*/

.footer {
    position: fixed;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}


/*::: css footer ends here :::*/