/*::: css reset code starts here :::*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*::: css reset code ends here :::*/

.table {
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.3s;
    transform: scale(0);
}

.overlay:target {
    transform: scale(1);
}

.overlay-content {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 40px;
    border-top: 6px solid #00A1F8;
    font-size: 20px;
    color: #5F5F5F;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.button {
    background-color: #00A1F8;
    border-radius: 3px;
    color: white;
    padding: 10px 30px;
    position: absolute;
    bottom: 40px;
    left: 150px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 350px;
    table-layout: fixed;
}

th,
td {
    border-left: 2px solid #00A1F8;
    border-right: 2px solid #00A1F8;
    text-align: left;
    padding: 8px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align-last: center;
}

th {
    background-color: #00A1F8;
    color: white;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

tr:nth-child(7) {
    border-bottom: 2px solid #00A1F8;
}

a {
    color: #00A1F8;
    text-decoration: underline;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::before {
    content: attr(data);
    background-color: #666565;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 8px 5px 0 5px;
    color: white;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tooltip-right::before {
    top: -60%;
    left: 150%;
    margin-left: 10px;
}

.tooltip-left::before {
    top: -60%;
    right: 150%;
    margin-right: 10px;
}

.tooltip-top::before {
    bottom: 150%;
    left: -40%;
    margin-bottom: 10px;
}

.tooltip-bottom::before {
    top: 150%;
    left: -30%;
    margin-top: 5px;
}

.tooltip:after,
.tooltip:before {
    transition: all 0.2s linear;
}

.tooltip::after {
    content: " ";
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tooltip-right::after {
    top: 50%;
    left: 150%;
    border-color: transparent #666565 transparent transparent;
}

.tooltip-left::after {
    top: 50%;
    right: 150%;
    border-color: transparent transparent transparent #666565;
}

.tooltip-top::after {
    bottom: 150%;
    left: 40%;
    border-color: #666565 transparent transparent transparent;
}

.tooltip-bottom::after {
    top: 150%;
    left: 50%;
    border-color: transparent transparent #666565 transparent;
}

.tooltip:hover:before,
.tooltip:hover:after {
    opacity: 0.7;
    z-index: 1;
}

.tooltip-right:hover:before,
.tooltip-right:hover:after {
    left: 100%;
}

.tooltip-left:hover:before,
.tooltip-left:hover:after {
    right: 100%;
}

.tooltip-top:hover:before,
.tooltip-top:hover:after {
    bottom: 100%;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after {
    top: 100%;
}
