/*::: css reset code starts here :::*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #D9E6ED;
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/*::: css reset code ends here :::*/

.navigation {
    list-style: none;
    background: deepskyblue;
    display: flex;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    align-items: center;
}

.navigation a:hover {
    background: black;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}